body {
    margin:auto;
    border:2px;
    padding:5px;
	color:#E6E6E6;
	background-color:#18191A;
   	font-family:Tahoma, Georgia, "sans-serif";
	font-size:11px;
}

td{
	font-family:Tahoma, Georgia, "sans-serif";
	font-size:11px;
	color: #E6E6E6;
}

h2, h3{
    color:#FF0000;
    font-family:Tahoma, Georgia, "sans-serif";
    font-style:oblique;
    font-weight:bold;
    font-variant:small-caps;
    background-color:#A8A894;
    border-bottom:1px solid #FF0000;
    padding:1px;
}

h4{
    font-family:Tahoma, Georgia, "sans-serif";
    font-style:oblique;
    font-weight:bold;
    font-size:12px;
    color:#254C00;
    background-color:#A8A894;
    padding:1px;
}

b{
    color:#FFFF99;
    font-family:Tahoma, Georgia, "sans-serif";
    font-style:italic;
    font-size:12px;
}

.data
{
	border-bottom: 1px dotted #58595B;
	padding: 4px;
}

.button{
	color: #ffffff;
	background-color: #58595B;
	padding:3px 2px 3px 2px;
	border: solid 1px #58595B;
	font-weight:bold;
	margin:5px 0px 5px 0px;
}

.buttonDisable{
	color: #CCCCCC;
	background-color: #999999;
	padding:3px 2px 3px 2px;
	border: 1px solid #999999;
	font-weight:bold;
	margin:5px 0px 5px 0px;
}

.border {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #A8A894;
	border-left-color: #A8A894;
}

a{
    color: #FFFF99;
    cursor: pointer;
    text-decoration:underline;
}

a:link{
    text-decoration:none;
    color: #FFFF99;
    text-decoration: underline;
}

a:active{
    color: #FFFF99;
    font-weight:bold;
}

a:hover{
    color: #E6E68A;
    font-weight:bold;
}

a:visited{
    color: #E6E68A;
    font-weight:bold;
}

.footer{
    background-color:#A8A894;
   	font-size: 9px;
	color: #FF0000;
	text-align:center;
    margin:10px;
    border:5px;
    padding:10px 0px 30px 0px;
}

.footerLink{
   	font-weight: bold;
	color: #C6C6A9;
	text-decoration:none;
	background-color:#A8A894;
	padding:10px 0px 0px 0px;
}

.menuText
{
	font-weight: bold;
	color: #FFFFFF;
	background-color:#A8A894;
	border: 1px solid #A8A894;
	text-decoration:none;
	padding:5px;
	text-align:center;
}
.menuText a:link, .menuText a:visited
{
	color: #FFFFFF;
	text-decoration:none;
}
.menuText a:hover
{
	color: #FF0000;
	text-decoration:none;

}
.menuTextSelected
{
	font-weight: bold;
	color: #FF0000;
	background-color:#18191A;
    border: 1px solid #A8A894;
	text-decoration:none;
	padding:5px;
	text-align:center;
}

.menuTextSelected a:link, .menuTextSelected a:active, .menuTextSelected a:visited, .menuTextSelected a:hover
{
	color: #FF0000;
	text-decoration:none;
}